* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {*/
/*    background-color: skyblue;*/
/*}*/

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

section {
    padding: 20px;
}

#list {
    /*background-color: skyblue;*/
    flex: 2;
}

#form {
    /*background-color: lightgray;*/
    flex: 1;
}